
.plannery-form {
        width: 500px;
        margin: 0 auto;
        padding: 13px;
        border: 10px solid #f4d5f1;
        border-radius:35px;
        margin-top: 35px;
        margin-left: 10px;
        background-color: #f3daeea0;
        
 }
.planery-form{

        display: flex;
}   
/* .content-gpt{
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f7f7f7;
    margin-top: 20px;
    margin-left: 40px;
    width: 500px;
    
  } */
  .save-btn{
    background-color: #af7caa;
  }
.formgenerate-btn{
    background-color: #af7caa;
    margin-right: 28px;
}