.plannery-form {
        width: 500px;
        margin: 0 auto;
        padding: 13px;
        border: 10px solid #f4d5f1;
        border-radius:35px;
        margin-top: 35px;
        margin-left: 10px;
        background-color: #f4f1f4a0;
        
 }
.planery-form{
        display: flex;
}   
.content-gpt{
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 30px;
    background-color: white;
    border: 10px solid #af53a5;
        
  }
  .content-gpt p{
    width:800px;
  }
  .content-gpt-button{
    margin-top: 350px;
    display: flex;
    justify-content: space-between;
    
  }
  .content-gpt-button Button{
    bottom:0;
  }
  .save-btn{
    background-color: #af7caa;
  }
.formgenerate-btn{
    background-color: #af7caa;
    margin-right: 28px;
}
.download-rgt-btn{
  background-color: #af7caa;
  color: white;
  
}
.save-rgt-btn{
  background-color: #af7caa;
  color: white;
}
.heading{
  color: #ab1ea0;
}
